﻿@{ Layout = "~/Views/Shared/_Blank.cshtml"; }
<!DOCTYPE html>
<html>
<body class="padded">
    <script type="text/javascript">
        function increment(id) {

            var val = parseInt($("#" + id).html());
            if (val == 3) return;
            $("#" + id).html(val + 1);
            generateUnhumanWay();
        }
        function decrement(id) {
            var val = parseInt($("#" + id).html());
            if (val == 0) return;
            $("#" + id).html(val - 1);
            generateUnhumanWay();
        }
        function generateUnhumanWay() {

            var redval = parseInt($("#redNo").html());
            var blueval = parseInt($("#blueNo").html());
            var yellowval = parseInt($("#yellowNo").html());

            var result = "";
            if (redval > 0) result += "RED:"+redval+";";
            if (blueval > 0) result += "BLUE:" + blueval + ";";
            if (yellowval > 0) result += "YELLOW:" + yellowval + ";";
            $("#Amounts").val(result);

        }
    </script>
    <form id="f" method="post" action="@Url.Action("New")">

        <h1>New Pill Entry</h1>

        <div>Amounts</div>
        <div>

            <span class="circle red"></span>
            <div style="margin-top: -27px;">
                <input type="button" value="+" style="margin-left: 30px;" onclick="increment('redNo')" />
                <span id="redNo" style="margin-left: 10px;">0</span>
                <input type="button" value="-" style="margin-left: 10px;" onclick="decrement('redNo')" />
            </div>
        </div>

        <span class="circle blue"></span>
        <div style="margin-top: -27px;">
            <input type="button" value="+" style="margin-left: 30px;" onclick="increment('blueNo')" />
            <span id="blueNo" style="margin-left: 10px;">0</span>
            <input type="button" value="-" style="margin-left: 10px;" onclick="decrement('blueNo')" />
        </div>
        <span class="circle yellow"></span>

        <div style="margin-top: -27px;">
            <input type="button" value="+" style="margin-left: 30px;" onclick="increment('yellowNo')" />
            <span id="yellowNo" style="margin-left: 10px;">0</span>
            <input type="button" value="-" style="margin-left: 10px;" onclick="decrement('yellowNo')" />
        </div>

        <div> @Html.Hidden("Amounts")</div>
        
        <div style="margin-top:12px;">@Html.CheckBox("Recurring")</div>
        <div style="margin-top:-18px;margin-left:20px;">Recurring - Every day btwn start/end date</div>


        <div style="margin-top:8px;">Start</div>
        <div>@Html.TextBox("Start")</div>

        <div>End</div>
        <div>@Html.TextBox("End")</div>

        <div class="space">
            <input type="submit" value="Save" />
            <a href="javascript:close()">Cancel</a>
        </div>
    </form>

    <script type="text/javascript">
        function close(result) {
            if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
                parent.DayPilot.ModalStatic.close(result);
            }
        }

        $("#f").submit(function () {
            
            if ($("#Amounts").val() == "") {
                return false;
            }
            var f = $("#f");
            $.post(f.action, f.serialize(), function (result) {
                close(eval(result));
            });
            return false;
        });

        $(document).ready(function () {
            $("#Amounts").focus();
        });

    </script>

</body>
</html>
