﻿@using DayPilot.Web.Mvc
@using DayPilot.Web.Mvc.Events.Calendar
<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script>
<script type="text/javascript">

	function createEvent(start, end, resource) {
	    modal().showUrl("@Url.Content("~/Dialog/New")?start=" + start.toStringSortable() + "&end=" + end.toStringSortable());
	}

	function editEvent(id) {
	    modal().showUrl("@Url.Content("~/Dialog/Edit/")" + id);
	}

	function modal() {
	    var modal = new DayPilot.Modal();
	    modal.top = 60;
	    modal.width = 300;
	    modal.opacity = 30;
	    modal.border = "5px solid #d0d0d0";
	    modal.closed = function () {
	        if (this.result == "OK") {
	            dpc.commandCallBack('refresh');
	        }
	        dpc.clearSelection();
	    };

	    modal.height = 250;
	    return modal;
	}

</script>

@Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
{
    BackendUrl = Url.Content("~/Home/Backend"),
    ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
    EventMoveHandling = EventMoveHandlingType.CallBack,
    EventResizeHandling = EventResizeHandlingType.CallBack,
    EventClickHandling = EventClickHandlingType.JavaScript,
    TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
    TimeRangeSelectedJavaScript = "createEvent(start, end)",


})